# Ignore Node modules and build artifacts
node_modules/
dist/

# Ignore Visual Studio & VS Code data
.vs/
.vscode/

# Rust & Anchor artifacts
target/
**/target/
**/*.so
**/*.d.ts

# IDL and deployment keypairs
target/idl/
target/deploy/*.json

# OS metadata
.DS_Store
